* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    line-height: 1.3;
    background-color: lightslategray;
}
/**********Maqueteando header**********/
header {
    position: fixed;
    width: 100%;
    background-color: #281a40;
    color: white;

}

.box-header {
    width: 86%;
    margin-left: 6%;
}

.logo {
    float: left;
    width: 50%;
    margin: 40px 0;
}

.logo img {
    width: 10%;
}

.box-menu {
    float: right;
    width: 50%;
    margin: 40px 0;
}

header .box-menu li {
    display: inline-block;
    list-style: none;
    padding-right: 40px;
}

.box-menu ul {
    float: right;
}

header .box-menu li a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

header .box-menu li a:hover{
    color: #ff00bf;
    transition-duration: 0.5s;
}

header .box-menu li .log {
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    border-radius: 5px;
}

.box-menu .fa-angle-down {
    padding-top: 2px;
}
/**********Maqueteando section box-datos*********/
.box-datos {
    width: 40%;
    padding: 45px;
    padding-top: 160px;
    background-color: white;
    
}

.box-datos  h2 {   
    font-size: 40px;
    color:#281a40;  
}
.box-datos .dato-p {
    color:#281a40;  
}

.dato-input {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #281a40; 
    margin-top: 35px;
    margin-bottom: 35px;
    
}

.box-datos input {
    width: 100%;
    font-size: 18px;
    border: none;
    text-decoration: none;
    outline: none;
}

.box-datos .buttom {
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #ff00bf;
    padding: 15px;
    background-color: #ff00bf;
}

/*****LUZ***************************/


h3{
    font-size: 30px;
    font-weight: 300px;
    text-transform: uppercase;
  }
  
   /*------------SECCTION CENTER---------*/
   .center{
     margin:5px;
     width: 100%;
     height: 690px;
   }
  .information-center{
    margin:auto;
    height: 692px;
    display: flex;
  }
  .box-information{
    flex: 1 1 auto;
  }
  .info{
    margin: 5% auto;
    width: 70%;
    height: 90%;
  }
  figure{
    margin:0;
  }
  img{
    width: 80%;
    height:80%;
  }
  /*-------end of section center--------*/
  
  /*---------SECCTION VIDEOS----------------------*/
  
    /*----reusable classes----*/
  .uppercase{
     text-transform: uppercase;
  }
  .box-video{
    width: 100%;
    height:675px;
    display: flex;
  }   
  
  .info-video{
    margin: 20px;
    width: 30%;
  }
  .video-youtube{
    margin: 20px;
    width: 70%;
    background: grey;
  }
      /*---end reusales classes----*/
  .two-parte1{
   order: 1
  }
  .two-parte2{
   order: 0
  }
  iframe{
      width: 100%;
      height: 100%;
  }
  
  /*------------FIN SECTION VIDEOS--------*/
  
  /*----SECCTION FOOTER-----------*/
  footer{
    margin: 0;
    background: #333447;
    height: 638px;
    color: white;
  }
  
  .list-footer{
    margin: 0;
    width: 100%;
    display: inline-flex;
  }
  .listados{ 
    padding: 0px;
    margin: 5%;
    list-style: none;
    flex: 1 1 auto;
  }
  .sociales{
    margin:0;
  }
/*
 * Estilos de tu proyecto
 */
*{
  box-sizing: border-box;
}
body{
  font-family:'Montserrat', sans-serif;
}

h3{
  font-size: 30px;
  font-weight: 300px;
  text-transform: uppercase;
}

 /*------------SECCTION CENTER---------*/
 .center{
   margin:5px;
   width: 100%;
   height: 690px;
 }
.information-center{
  margin:auto;
  height: 692px;
  display: flex;
}
.box-information{
  flex: 1 1 auto;
}
.info{
  margin: 5% auto;
  width: 70%;
  height: 90%;
}
figure{
  margin:0;
}
img{
  width: 80%;
  height:80%;
}
/*-------end of section center--------*/

/*---------SECCTION VIDEOS----------------------*/

  /*----reusable classes----*/
.uppercase{
   text-transform: uppercase;
}
.box-video{
  width: 100%;
  height:675px;
  display: flex;
}   

.info-video{
  margin: 20px;
  width: 30%;
}
.video-youtube{
  margin: 20px;
  width: 70%;
  background: grey;
}
    /*---end reusales classes----*/
.two-parte1{
 order: 1
}
.two-parte2{
 order: 0
}
iframe{
    width: 100%;
    height: 100%;
}

/*------------FIN SECTION VIDEOS--------*/

/*----SECCTION FOOTER-----------*/
footer{
  margin: 0;
  background: #333447;
  height: 638px;
  color: white;
}

.list-footer{
  margin: 0;
  width: 100%;
  display: inline-flex;
}
.listados{ 
  padding: 0px;
  margin: 5%;
  list-style: none;
  flex: 1 1 auto;
}
.sociales{
  margin:0;
}
